.explore-section {
    background-color: #2D2D1F;
}

.explore-img-container {
    position:relative;
    min-width: 320px;
}

.explore-img-bg {
    position: absolute;
    right: 0;
    top: 4.5px;
    width: 300px;
    height: calc(100% - 9px);
    background-color: #EEEDEA;
    z-index: 2;
    border-radius: 20px;
}

.explore-img {
    position: relative;
    top: 0;
    left: calc(100% - 684px);
    z-index: 2;
    width: fit-content;
}

.explore-img img {
    width: 100%;
    height: auto;
}

.explore-text-container {
    position: absolute;
    color: #aaa;
    padding: 50px 135px;
    z-index: 10;
    min-width: 320px;
}

.explore-text-btn h1 {
    padding: 20px 0;
    font-size: 1.5rem;
}
.explore-text-btn p{
    font-size: 1rem;
}

.explore-btn {
    border: none;
    outline: 1px solid #E1E1BB;
    cursor: pointer;
    padding: 10px 15px;
    margin: 25px 0;
    border-radius: 20px;
    color: #fff;
    background-color: inherit;
    transition-duration: .2s;
}

.explore-text-btn button:hover {
    box-shadow: 0 0px 30px 0px #d0a874;
    transform: translateY(-.32rem);
    outline: none;
}
@media (max-width: 400px){
    .explore-text-btn h1{
        font-size: 1.25rem;
    }
}
@media (0 <=width <=684px){
    .explore-img{
        left: 0;
    }
}

@media (0 <=width <=780px){
    .explore-text-container{
        padding: 25px 15px;
        font-size: 1rem;
    }

}