.navbar{
    position: sticky;
    top: 0;
    /* backdrop-filter: blur(20px);
    background: transparent; */
    background-color: #deddda;
    z-index: 9999;

}
.navbar-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    padding: 0 135px;
    align-content: center;
    min-height: 148px;
   
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navlink-item{
    padding: 0 16px;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}