.navbar{
    position: sticky;
    top: 0;
    /* backdrop-filter: blur(20px);
    background: transparent; */
    background-color: #deddda;
    z-index: 9999;

}
.navbar-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    padding: 0 135px;
    align-content: center;
    min-height: 148px;
   
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navlink-item{
    padding: 0 16px;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}
.menu-btn-open{
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    width: 28px;
    cursor: pointer;
    transition-duration: .4s;
}
.menu-btn-close{
    flex-direction: column;
    justify-content: center;
    height: 16px;
    width: 28px;
    cursor: pointer;
}
.menu-btn-line{
    width: 100%;
    background-color: #000;
    border-radius: 1.25px;
    height: 2.5px;
}


@media (min-width: 866px){
    .menu-btn-open{
        display: none;
    }
}

@media (0 <= width <= 866px){
    .navbar-flex-container{
        padding: 0 15px;
    }
    .navlink-text{
        display: none;
    }
    .menu-btn-open, .menu-btn-close{
        display: flex;
    }
}