.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #deddda;
}

.navbar-flex-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    padding: 0 135px;
    align-content: center;
    min-height: 148px;

}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navlink-item {
    padding: 0 16px;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    margin: auto 0;
}



/************************************* Menu Button ********************** */

.btn-span-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 28px;
    cursor: pointer;
}


.btn-span-container span:nth-child(1) {
    position: absolute;
    height: 2.5px;
    width: 100%;
    top: 0;
    border-radius: 1.25px;
    background-color: #000;
}
.btn-span-container span:nth-child(2) {
    position: absolute;
    height: 2.5px;
    width: 100%;
    bottom: 0;
    border-radius: 1.25px;
    background-color: #000;
}

@keyframes topmove {
    0% {
        transform: rotate(0);
        top: 0;
    }

    50% {
        transform: rotate(0);
        top: 6.75px;

    }

    100% {
        top: 6.75px;
        transform: rotate(-45deg);
    }
}

@keyframes botmove {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        transform: rotate(0);
        bottom: 6.75px;
    }

    100% {
        bottom: 6.75px;
        transform: rotate(45deg);
        
    }
}
@keyframes toprev{
    0%{
        transform: rotate(-45deg);
        top: 6.75px;
    }
    50%{
        transform: rotate(0);
        top: 6.75px;
    }
    100%{
        top: 0;
    }
}

@keyframes botrev{
    0%{
        transform: rotate(45deg);
        bottom: 6.75px;
    }
    50%{
        transform: rotate(0);
        bottom: 6.75px;
    }
    100%{
        bottom: 0;
    }

}


.btn-span-container.active span:nth-child(1) {
    animation: topmove .4s;
    animation-fill-mode: forwards;

}

.btn-span-container.active span:nth-child(2) {
    animation: botmove .4s;
    animation-fill-mode: forwards;
}
.btn-span-container.out span:nth-child(1){
    animation: toprev .4s;
}
.btn-span-container.out span:nth-child(2){
    animation: botrev .4s;
}



/************************************ Navbar dropdown ************************ */



.navbar-dropdown {
    position: absolute;
    background-color: #deddda;
    width: 100%;
    height: calc(100vh - 148px);
}

.navbar-dropdown.active {
    animation: slide-down .4s;
    display: block;
}

.navbar-dropdown.out {
    animation: slide-up .4s;
    animation-fill-mode: forwards;
    display: block;
}


@keyframes slide-down {
    0% {
        opacity: 0;
        /* top: 0; */
        transform: scale(1);
        /* transform: translateY(30px); */
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 1;
        /* top: 30px; */
        transform: scale(1);
        /* transform: translateY(30px); */
        -webkit-transform: scale(1);
    }
}

@keyframes slide-up {
    0% {
        display: block;
        opacity: 1;
        /* top: 0; */
        transform: scale(1);
        /* transform: translateY(-300px); */
        -webkit-transform: scale(1);
    }

    99% {
        display: block;
        opacity: 0;
        transform: scale(0);
        /* transform: translateY(0); */
        -webkit-transform: scale(0);
    }

    100% {
        display: none;
        opacity: 0;
        /* transform: translateY(0); */
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

.navbar-dropdown-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 25px 0;

}

.dropdown-link {
    font-size: 2rem;
    font-weight: 400;
}

/************************************ Mobile View ***************************** */
@media (min-width: 1082px) {
    .menu-btn {
        display: none;
    }

    .dropdown-open {
        display: none;
    }
}

@media (0 <=width <=1082px) {
    .navlink-text {
        display: none;
    }
}

@media (min-width: 780px) {
    .navbar-dropdown-container {
        padding: 0 150px;
    }

}

@media(0 <=width <=780px) {
    .navbar-flex-container {
        padding: 0 15px;
    }

    .navbar-dropdown-container {
        padding: 0 50px;
    }
}