.bedroom-main{
    width: 100%;
    background-color: var(--main-bg-color);
}

.bedroom-wrapper{
    padding: 0 135px;
}
.bedroom-head-container{
    padding: 50px 0 20px;
}
.bedroom-head-container h1{
    display: inline;
    font-size: 1.5rem;
    font-weight: 600;
}
.goto-bedroom-heading{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--goto-heading-color)
}

/* Bedroom Catalogues */
.bedroom-catalogue-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 15px 50px;
    gap: 20px;
}
.bedroom-catalogue-card{
    height: 450px;
    width: 350px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 4px 12px rgb(0, 0, 0, .08);
    cursor: pointer;
}
.bedroom-catalogue-name{
    padding: 32px 16px;
}





/* Mobile View */
@media (max-width: 780px){
    .bedroom-wrapper{
        padding: 0 15px;
    }
    .bedroom-catalogue-wrapper{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}