
.categories-container {
    padding: 24px 0;
    height: 430.5px;
}

.category-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 100px;
    padding: 0 135px 30px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.category-card-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.category-header-container {
    padding: 20px 135px 39px;
}

.category-header {
    font-size: 1.1rem;
}

/* Mobile view optimisation */

@media (0 <=width <=780px){
    .category-header-container{
        padding: 20px 15px 39px;
    }
    .category-card-container{
        padding: 0 0 30px;
        gap: 50px;
    }
}