.categories {
    width: 100%;
}

.categories-container {
    padding: 24px 0;
    height: 430.5px;
}

.category-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 85px;
    padding: 0 0 30px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
    border-width: 1px 8px;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-radius: 20px;
}
.category-card-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.category-header-container {
    padding: 20px 135px 39px;
}

.category-header {
    font-size: 1.1rem;
}
