.footer-container {
    width: 100%;
    background-color: #EEEDEA;
}

.wrapper{
    padding: 48px 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.wrapper li{
    padding-top: 10px;
}

.footer-copy-container{
    text-align: center;
    font-size: .75rem;
    color: #6e6e73;
}

.download-list-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (0 <=width <=780px){
    .wrapper{
        padding: 50px 15px;
    }
    .download-list-container{
        padding-top: 20px;
        flex-direction: row;
    }
}