.footer-container {
    width: 100%;
    background-color: #EEEDEA;
}

.wrapper{
    padding: 48px 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.wrapper li{
    padding-top: 10px;
}

.footer-copy-container{
    text-align: center;
}