.footer-container {
    width: 100%;
    background-color: #EEEDEA;
}

.wrapper{
    padding: 48px 135px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "a a a a"
}

.wrapper li{
    padding-top: 10px;
}

.footer-copy-container{
    text-align: center;
}