.review-section{
    width: 100%;
}
.review-container{
    padding: 50px 0 0;
}
.review-header-container{
    text-align: center;
    padding: 0 135px;
}
.review-card-container{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 32px;
    padding: 50px 135px 100px;
}
.review-card-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@media (0 <=width <=780px){
    .review-card-container{
        padding: 20px 30px 100px;
    }
}