.auth-form-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.auth-form-container {
    background-color: #deddda59;
    backdrop-filter: blur(10px);
    padding: 30px;
    width: 300px;
    border-radius: 20px;
}
.auth-form-switcher{
    display: flex;
}
.auth-form-switcher-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
}
.auth-form-switcher-btns button{
    outline: none;
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
}
.auth-form{
    display: flex;
    flex-direction: column;
}
