@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;800&family=Montserrat:wght@300;400;900&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Open Sans, Source Sans Pro, Montserrat, sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}