@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;800&family=Montserrat:wght@300;400;900&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

:root{
  --footer-link-color: #000;
  --footer-link-hover: #424245;
  --goto-heading-color: #6e6e73;
  --main-bg-color: #f5f5f7;
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 365px;
  overflow-y: scroll;
  font-weight: 200;
  font-family: Open Sans, Source Sans Pro, Montserrat, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover{
  color: var(--footer-link-hover);
}

li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

@media (0px <=width <=780px) {
  .section-padding {
    padding: 0 15px;
  }
}

