.quality-section {
    padding: 0 135px;
}

.para-container{
    font-size: 1.1rem;
    padding-top: 8px;
}

.quality-flex-container {
    display: flex;
    justify-content: space-between;
    gap: 82px;
}

.sofa-chair-container{
    margin-top: 30px;
}



.quality-text-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    border-radius: 20px;
    background-color: #EEEDEA;
    padding: 50px 62px;

}
.text-title-container{
    display: flex;
    align-items: center;
    gap: 48px;
    font-size: 0.9rem;
    font-weight: lighter;
}
.text-para-container{
    padding: 16px 0 0 90px;
    font-size: 1.2rem;
}

.quality-img-container {

}