.quality-section {
    padding: 0 135px;
}


.quality-flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10px
}

.quality-item {
    width: 580px;
    height: 497px;
    background-color: red;
    padding: 8px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.quality-text-container {
    

}

.quality-img-container {

}