.catalogue-specs {
    padding: 50px 135px;
}

.specs-wrapper::-webkit-scrollbar {
    display: none;
}


.catalogue-specs-heading h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.specs-container{
    position: relative;
}

.specs-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px 30px;
    gap: 30px;
}

.specs-scroll-fade {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    z-index: 1;
}

.left-fade {
    left: 0;
    background: linear-gradient(90deg, #fff, #ffffff00);
}

.right-fade {
    right: 0;
    background: linear-gradient(90deg,#ffffff00, #fff);
}


.specs-item {
    flex: 0 0 auto;
}
.specs-item p{
    font-size: 1.2rem;
}

@media screen and (max-width: 780px) {
    .catalogue-specs {
        padding: 50px 15px;
    }
}